<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/stylesheets/styleEdit.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/dark.css">
    <title>Edit</title>
</head>
<body>

    <h1>Edit Review</h1>
    <form action="/mangas/member/<%=mangaID%>/<%=reviewID%>/<%=userID%>/edit?_method=PUT" method="post">
        <textarea value="<%= review.content %>" name="content"><%= review.content %></textarea>
                   
    <div class="rating">
        <% for (let i=5; i>= 1; i--) { %>
            <input type="radio" id="star<%= i %>" name="rating" value="<%= i %>" <% if(review.rating===i) { %>checked<% } %>
                >
                <label for="star<%= i %>" title="<%= i %> star"><i class="fa fa-star"></i></label>
                <% } %>
    </div>
        <button type="submit">Save Changes</button>
        </div>
    </form>
</body>
</html>