<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/dark.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <title>MangaSphere</title>
</head>

<body>
    <h2>MangaSphere</h2>
<nav>
    <ul>
        <li><a href="/">Home</a></li>
    </ul>
    <div class="login-signup">
        <a href="#">Login / Sign up</a>
    </div>
</nav>  
    <div class="manga">
        <% mangas.forEach((m)=> {%>
            <img class="mangapic" src="<%=m.picture%>">
            <div>
            <h3>Title: <%=m.title%></h3>
            <br>
            <label>Volumes: <%=m.volumes%></label>
            <br>
            <label>Chapters: <%=m.chapters%></label>
            <br>
            <label>Status: <%=m.status%></label>
            <br>
            <label>Genres: </label>
            <% m.genres.forEach((j)=> {%>
                <label><%=j%> |</label>
            <% }) %>
            <label>Synopsis: <%=m.synopsis%></label>
            </div>
        
    </div>

    <div>
    <h3>Reviews: </h3>
    <% m.reviews.forEach((k)=> { %>
        <div class="review">
        <% const userId=k.user.map(u=> u.userid).join(', ') %>
        <label>
            <%= userId %>
        </label>
            <br>
            <% if (k.rating===5) { %>
                <label>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </label>
                <% } else if (k.rating===4) { %>
                    <label>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </label>
                    <% } else if (k.rating===3) { %>
                        <label>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </label>
                        <% } else if (k.rating===2) { %>
                            <label>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </label>
                            <% } else if (k.rating===1) { %>
                                <label>
                                    <i class="fas fa-star"></i>
                                </label>
                                <% } %>
                                    <label>
                                        <%=k.content%>
                                    </label>
                                    <br>
        </div>
        <% }) %>
    <% }) %>
</body>

</html>